<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Big_chengse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,45}</string>
                <key>spriteSourceSize</key>
                <string>{126,45}</string>
                <key>textureRect</key>
                <string>{{206,404},{126,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Big_chengse_kuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,57}</string>
                <key>spriteSourceSize</key>
                <string>{126,57}</string>
                <key>textureRect</key>
                <string>{{1,485},{126,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Big_general-button-gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,45}</string>
                <key>spriteSourceSize</key>
                <string>{126,45}</string>
                <key>textureRect</key>
                <string>{{1,603},{126,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Big_general-button-gray_kuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,57}</string>
                <key>spriteSourceSize</key>
                <string>{126,57}</string>
                <key>textureRect</key>
                <string>{{129,532},{126,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Big_general-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,45}</string>
                <key>spriteSourceSize</key>
                <string>{126,45}</string>
                <key>textureRect</key>
                <string>{{1,650},{126,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Big_general-button_kuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,57}</string>
                <key>spriteSourceSize</key>
                <string>{126,57}</string>
                <key>textureRect</key>
                <string>{{1,544},{126,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Big_lv-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,45}</string>
                <key>spriteSourceSize</key>
                <string>{126,45}</string>
                <key>textureRect</key>
                <string>{{48,650},{126,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Big_lv-button_kuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,57}</string>
                <key>spriteSourceSize</key>
                <string>{126,57}</string>
                <key>textureRect</key>
                <string>{{129,591},{126,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqian_ax_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,54}</string>
                <key>spriteSourceSize</key>
                <string>{90,54}</string>
                <key>textureRect</key>
                <string>{{130,650},{90,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>biaoqian_wa_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,42}</string>
                <key>spriteSourceSize</key>
                <string>{90,42}</string>
                <key>textureRect</key>
                <string>{{127,782},{90,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chengse_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,33}</string>
                <key>spriteSourceSize</key>
                <string>{94,33}</string>
                <key>textureRect</key>
                <string>{{57,778},{94,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fanhui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,54}</string>
                <key>spriteSourceSize</key>
                <string>{101,54}</string>
                <key>textureRect</key>
                <string>{{1,778},{101,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fanhui_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,51}</string>
                <key>spriteSourceSize</key>
                <string>{71,51}</string>
                <key>textureRect</key>
                <string>{{186,697},{71,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>general-button_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,33}</string>
                <key>spriteSourceSize</key>
                <string>{94,33}</string>
                <key>textureRect</key>
                <string>{{92,778},{94,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>general-button_02_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,33}</string>
                <key>spriteSourceSize</key>
                <string>{94,33}</string>
                <key>textureRect</key>
                <string>{{95,650},{94,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guaiwuduihua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,55}</string>
                <key>spriteSourceSize</key>
                <string>{46,55}</string>
                <key>textureRect</key>
                <string>{{206,202},{46,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiazai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,24}</string>
                <key>spriteSourceSize</key>
                <string>{23,24}</string>
                <key>textureRect</key>
                <string>{{129,501},{23,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiazaidibu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,30}</string>
                <key>spriteSourceSize</key>
                <string>{34,30}</string>
                <key>textureRect</key>
                <string>{{95,746},{34,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progessIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{45,57}</string>
                <key>spriteSourceSize</key>
                <string>{53,59}</string>
                <key>textureRect</key>
                <string>{{186,650},{45,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongyong_an_cheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,45}</string>
                <key>spriteSourceSize</key>
                <string>{143,45}</string>
                <key>textureRect</key>
                <string>{{206,259},{143,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongyong_an_hui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,45}</string>
                <key>spriteSourceSize</key>
                <string>{143,45}</string>
                <key>textureRect</key>
                <string>{{1,391},{143,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongyong_an_lan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,45}</string>
                <key>spriteSourceSize</key>
                <string>{143,45}</string>
                <key>textureRect</key>
                <string>{{1,438},{143,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongyong_guanbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,38}</string>
                <key>spriteSourceSize</key>
                <string>{45,38}</string>
                <key>textureRect</key>
                <string>{{131,742},{45,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongyongkuang_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,245}</string>
                <key>spriteSourceSize</key>
                <string>{199,245}</string>
                <key>textureRect</key>
                <string>{{1,1},{199,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongyongkuang_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,203}</string>
                <key>spriteSourceSize</key>
                <string>{187,203}</string>
                <key>textureRect</key>
                <string>{{1,202},{187,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>warn_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,58}</string>
                <key>spriteSourceSize</key>
                <string>{53,58}</string>
                <key>textureRect</key>
                <string>{{146,391},{53,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wenhao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,58}</string>
                <key>spriteSourceSize</key>
                <string>{53,58}</string>
                <key>textureRect</key>
                <string>{{146,446},{53,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xx_xan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,33}</string>
                <key>spriteSourceSize</key>
                <string>{84,33}</string>
                <key>textureRect</key>
                <string>{{171,782},{84,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xx_xan01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,32}</string>
                <key>spriteSourceSize</key>
                <string>{84,32}</string>
                <key>textureRect</key>
                <string>{{171,852},{84,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xx_xan02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,33}</string>
                <key>spriteSourceSize</key>
                <string>{84,33}</string>
                <key>textureRect</key>
                <string>{{171,817},{84,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{256,885}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4504d181800994eb5f0afd444a4c8b3c:da2898ab4b2938d6ec93f70862e83c4a:1f55903e2927f6cb72c625c6a594708e$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
