<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{44,42}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{521,246},{44,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoshi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{240,445},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshi_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{521,292},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshi_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{490,380},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshi_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{521,336},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoshi_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{489,442},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{413,346},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_tex_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,98}</string>
                <key>spriteSourceSize</key>
                <string>{106,98}</string>
                <key>textureRect</key>
                <string>{{413,246},{106,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_tex_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,73}</string>
                <key>spriteSourceSize</key>
                <string>{74,73}</string>
                <key>textureRect</key>
                <string>{{345,433},{74,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_tex_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{145,124}</string>
                <key>spriteSourceSize</key>
                <string>{149,130}</string>
                <key>textureRect</key>
                <string>{{413,1},{145,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_tex_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,117}</string>
                <key>spriteSourceSize</key>
                <string>{116,117}</string>
                <key>textureRect</key>
                <string>{{413,127},{116,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_tex_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,64}</string>
                <key>textureRect</key>
                <string>{{345,351},{80,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ground_tex_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,39}</string>
                <key>spriteSourceSize</key>
                <string>{69,39}</string>
                <key>textureRect</key>
                <string>{{169,455},{69,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_tex_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,92}</string>
                <key>spriteSourceSize</key>
                <string>{125,92}</string>
                <key>textureRect</key>
                <string>{{218,351},{125,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_tex_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,49}</string>
                <key>spriteSourceSize</key>
                <string>{98,49}</string>
                <key>textureRect</key>
                <string>{{1,455},{98,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,452}</string>
                <key>spriteSourceSize</key>
                <string>{215,452}</string>
                <key>textureRect</key>
                <string>{{1,1},{215,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,46}</string>
                <key>spriteSourceSize</key>
                <string>{66,46}</string>
                <key>textureRect</key>
                <string>{{101,455},{66,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,193}</string>
                <key>spriteSourceSize</key>
                <string>{348,193}</string>
                <key>textureRect</key>
                <string>{{218,1},{348,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wall_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{421,423},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{531,127},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>terrain.png</string>
            <key>size</key>
            <string>{564,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a7016b16240ccc49512156f9a618609:4a490d9685cc352cb8c7f4190b5f6fc4:abfad418824586571e33008575221999$</string>
            <key>textureFileName</key>
            <string>terrain.png</string>
        </dict>
    </dict>
</plist>
