<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,150}</string>
                <key>spriteSourceSize</key>
                <string>{116,150}</string>
                <key>textureRect</key>
                <string>{{155,1},{116,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>helmet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,109}</string>
                <key>spriteSourceSize</key>
                <string>{130,109}</string>
                <key>textureRect</key>
                <string>{{307,1},{130,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>helmetAdd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,114}</string>
                <key>spriteSourceSize</key>
                <string>{42,114}</string>
                <key>textureRect</key>
                <string>{{1,41},{42,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shield.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,26}</string>
                <key>spriteSourceSize</key>
                <string>{105,26}</string>
                <key>textureRect</key>
                <string>{{1,85},{105,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,38}</string>
                <key>spriteSourceSize</key>
                <string>{152,38}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero.png</string>
            <key>size</key>
            <string>{438,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc47b2345d748e535c7c279692963f8c:0af3bc96117cc9aacd341e0a733dfcd5:e44e28a7f983377b8bb0c97d886e5bb7$</string>
            <key>textureFileName</key>
            <string>hero.png</string>
        </dict>
    </dict>
</plist>
