<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Normal attack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{1,206},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green ring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,74}</string>
                <key>spriteSourceSize</key>
                <string>{73,74}</string>
                <key>textureRect</key>
                <string>{{1,390},{73,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items-ring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{133,390},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kongcao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,54}</string>
                <key>spriteSourceSize</key>
                <string>{59,54}</string>
                <key>textureRect</key>
                <string>{{77,390},{59,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skills-ring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,76}</string>
                <key>spriteSourceSize</key>
                <string>{74,76}</string>
                <key>textureRect</key>
                <string>{{111,314},{74,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yaogan_anniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,72}</string>
                <key>spriteSourceSize</key>
                <string>{75,72}</string>
                <key>textureRect</key>
                <string>{{1,316},{75,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yaogan_di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,203}</string>
                <key>spriteSourceSize</key>
                <string>{213,203}</string>
                <key>textureRect</key>
                <string>{{1,1},{213,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd_bsk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{106,106}</string>
                <key>textureRect</key>
                <string>{{111,206},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>battle.png</string>
            <key>size</key>
            <string>{218,464}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc6e837f81e360ac96d48b81c533e54e:b4176375094aff6aae8697c6c09ab792:aefc46271a528250973e047b84db9856$</string>
            <key>textureFileName</key>
            <string>battle.png</string>
        </dict>
    </dict>
</plist>
